.com_joeworkman_stacks_link_stack a{display:block;text-decoration:none!important;padding:0;margin:0}
#stacks_in_1327_page0>.s3_row {
	margin: 0 -10px;
}

#stacks_in_1327_page0>.s3_row>.s3_column_left {
	width: 74.00%;
}

#stacks_in_1327_page0>.s3_row>.s3_column_right {
	width: 26.000000%;
}




#stacks_in_1327_page0>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_1327_page0>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_1327_page0>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





/*
-------------------------------------------
File: 'Blueball FreeStacks Responsive Reposition Stack' 
Style Sheet: fsrreposition.css Style Sheet
Created: 26, August 2013
Last Modified: 30, August 2013
Author: Blueball Design LLC/Charlie Lockhart
http://freestackresponsive.blueballdesign.com
Copyright 2013 Blueball Design LLC USA/Charlie Lockhart
All Rights Reserved
-------------------------------------------
*/

#stacks_in_1332_page0 {
	padding: 34% 0% 0% 0%;
	margin: 0% 0% 0% 0%;
}

/************************************************************************************
MOBILE
*************************************************************************************/

@media screen and (max-width: 600px) {
	
#stacks_in_1332_page0 { 
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
}
}
#stacks_in_1697_page0>.s3_row {
	margin: 0 -10px;
}

#stacks_in_1697_page0>.s3_row>.s3_column_left {
	width: 45.00%;
}

#stacks_in_1697_page0>.s3_row>.s3_column_right {
	width: 55.000000%;
}




#stacks_in_1697_page0>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_1697_page0>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_1697_page0>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





/*
-------------------------------------------
File: 'Blueball FreeStacks Responsive Reposition Stack' 
Style Sheet: fsrreposition.css Style Sheet
Created: 26, August 2013
Last Modified: 30, August 2013
Author: Blueball Design LLC/Charlie Lockhart
http://freestackresponsive.blueballdesign.com
Copyright 2013 Blueball Design LLC USA/Charlie Lockhart
All Rights Reserved
-------------------------------------------
*/

#stacks_in_1706_page0 {
	padding: 17% 0% 0% 0%;
	margin: 0% 0% 0% 0%;
}

/************************************************************************************
MOBILE
*************************************************************************************/

@media screen and (max-width: 800px) {
	
#stacks_in_1706_page0 { 
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
}
}
/*
-------------------------------------------
File: 'Blueball FreeStacks Responsive Reposition Stack' 
Style Sheet: fsrreposition.css Style Sheet
Created: 26, August 2013
Last Modified: 30, August 2013
Author: Blueball Design LLC/Charlie Lockhart
http://freestackresponsive.blueballdesign.com
Copyright 2013 Blueball Design LLC USA/Charlie Lockhart
All Rights Reserved
-------------------------------------------
*/

#stacks_in_1716_page0 {
	padding: 17% 0% 0% 0%;
	margin: 0% 0% 0% 0%;
}

/************************************************************************************
MOBILE
*************************************************************************************/

@media screen and (max-width: 800px) {
	
#stacks_in_1716_page0 { 
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
}
}
#UsefulStackWrapperstacks_in_1791_page0 {
	margin: 0 auto;
	min-width: 0px;
	max-width: 1000px;
	
	min-height: 0px;
	max-height: 2000px;
	overflow: hidden;
}

#UsefulStackstacks_in_1791_page0 {
	padding-bottom: 0%;
	padding-top: 0%;
	padding-left: 0%;
	padding-right: 0%;
	
	margin-bottom: 0%;
	margin-top: 0%;
	margin-left: 0%;
	margin-right: 0%;
	
	display: block;
}



@media screen and (max-width: 100px) {
	#UsefulStackstacks_in_1791_page0 {
		display: none;
	}
}






#stacks_in_1735_page0 {
	background-color: rgba(231, 234, 234, 0.06);
}
#stacks_in_1786_page0>.s3_row {
	margin: 0 -10px;
}

#stacks_in_1786_page0>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_1786_page0>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_1786_page0>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_1786_page0>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_1786_page0>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





